<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064837769029-pr0umvcp4htlvub3v089ke0eao2gtdd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064837769029-pr0umvcp4htlvub3v089ke0eao2gtdd1</string>
	<key>API_KEY</key>
	<string>AIzaSyAQS2B3YsO4LsvbR_08TffXSFWQFRI1Pp8</string>
	<key>GCM_SENDER_ID</key>
	<string>1064837769029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ITinder</string>
	<key>PROJECT_ID</key>
	<string>itinder-d6dfb</string>
	<key>STORAGE_BUCKET</key>
	<string>itinder-d6dfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064837769029:ios:ef2ada0e952c0ac2c7c02c</string>
	<key>DATABASE_URL</key>
	<string>https://itinder-d319f-default-rtdb.firebaseio.com/</string>
</dict>
</plist>
